In [2]:
import pandas as pd

dict={"Fruits":["Mango","Apple","Banana","Papaya","Orange"],
      "Price":[100,500,56,67,150],
      "Quantity":[13,15,10,34,36]}

df1=pd.DataFrame(dict)
print(df1)

   Fruits  Price  Quantity
0   Mango    100        13
1   Apple    500        15
2  Banana     56        10
3  Papaya     67        34
4  Orange    150        36

In [3]:
df2=df1.copy()
print(df2)

   Fruits  Price  Quantity
0   Mango    100        13
1   Apple    500        15
2  Banana     56        10
3  Papaya     67        34
4  Orange    150        36

In [6]:
df2.loc[0,"Price"]=150
df2.loc[1,"Price"]=300
df2.loc[2,"Price"]=70
df2.loc[3,"Price"]=169
df2.loc[0,"Quantity"]=45
df2.loc[1,"Quantity"]=65
df2.loc[2,"Quantity"]=40
df2.loc[3,"Quantity"]=29
print(df2)

   Fruits  Price  Quantity
0   Mango    150        45
1   Apple    300        65
2  Banana     70        40
3  Papaya    169        29
4  Orange    150        36

In [7]:
print(df1.compare(df2))

   Price        Quantity
    self  other     self other
0  100.0  150.0     13.0  45.0
1  500.0  300.0     15.0  65.0
2   56.0   70.0     10.0  40.0
3   67.0  169.0     34.0  29.0

In [8]:
print(df1.compare(df2,align_axis=0))

         Price  Quantity
0 self   100.0      13.0
  other  150.0      45.0
1 self   500.0      15.0
  other  300.0      65.0
2 self    56.0      10.0
  other   70.0      40.0
3 self    67.0      34.0
  other  169.0      29.0

In [12]:
print(df1)
print(df2)
print(df1.compare(df2))
print(df1.compare(df2,keep_equal=True))

   Fruits  Price  Quantity
0   Mango    100        13
1   Apple    500        15
2  Banana     56        10
3  Papaya     67        34
4  Orange    150        36
   Fruits  Price  Quantity
0   Mango    150        45
1   Apple    300        65
2  Banana     70        40
3  Papaya    169        29
4  Orange    150        36
   Price        Quantity
    self  other     self other
0  100.0  150.0     13.0  45.0
1  500.0  300.0     15.0  65.0
2   56.0   70.0     10.0  40.0
3   67.0  169.0     34.0  29.0
  Price       Quantity
   self other     self other
0   100   150       13    45
1   500   300       15    65
2    56    70       10    40
3    67   169       34    29

In [13]:
print(df1.compare(df2,keep_shape=True))

  Fruits        Price        Quantity
    self other   self  other     self other
0    NaN   NaN  100.0  150.0     13.0  45.0
1    NaN   NaN  500.0  300.0     15.0  65.0
2    NaN   NaN   56.0   70.0     10.0  40.0
3    NaN   NaN   67.0  169.0     34.0  29.0
4    NaN   NaN    NaN    NaN      NaN   NaN

In [14]:
print(df1)
print(df2)
print(df1.compare(df2))
print(df1.compare(df2,keep_shape=False))

   Fruits  Price  Quantity
0   Mango    100        13
1   Apple    500        15
2  Banana     56        10
3  Papaya     67        34
4  Orange    150        36
   Fruits  Price  Quantity
0   Mango    150        45
1   Apple    300        65
2  Banana     70        40
3  Papaya    169        29
4  Orange    150        36
   Price        Quantity
    self  other     self other
0  100.0  150.0     13.0  45.0
1  500.0  300.0     15.0  65.0
2   56.0   70.0     10.0  40.0
3   67.0  169.0     34.0  29.0
   Price        Quantity
    self  other     self other
0  100.0  150.0     13.0  45.0
1  500.0  300.0     15.0  65.0
2   56.0   70.0     10.0  40.0
3   67.0  169.0     34.0  29.0

In [15]:
print(df1)
print(df2)
print(df1.compare(df2))
print(df1.compare(df2,keep_shape=True))

   Fruits  Price  Quantity
0   Mango    100        13
1   Apple    500        15
2  Banana     56        10
3  Papaya     67        34
4  Orange    150        36
   Fruits  Price  Quantity
0   Mango    150        45
1   Apple    300        65
2  Banana     70        40
3  Papaya    169        29
4  Orange    150        36
   Price        Quantity
    self  other     self other
0  100.0  150.0     13.0  45.0
1  500.0  300.0     15.0  65.0
2   56.0   70.0     10.0  40.0
3   67.0  169.0     34.0  29.0
  Fruits        Price        Quantity
    self other   self  other     self other
0    NaN   NaN  100.0  150.0     13.0  45.0
1    NaN   NaN  500.0  300.0     15.0  65.0
2    NaN   NaN   56.0   70.0     10.0  40.0
3    NaN   NaN   67.0  169.0     34.0  29.0
4    NaN   NaN    NaN    NaN      NaN   NaN